In [2]:
# TOPIC: String Based Assignment Problem
#1.Write a program to reverse a string.
str1 = 'Reddi Kumar'

In [6]:
rev_str = str1[::-1]
print('Reversed string is ' , rev_str)

Reversed string is  ramuK iddeR

In [13]:
#2. Check if a string is a palindrome.
str2 = input('Please enter a string to check palindrome or not')

rev_str2 = str2[::-1]
if str2 == rev_str2:
    print(f"Given string  {rev_str2} is palindrome")
else:
    print(f"Given string  {str2} is not palindrome")

Please enter a string to check palindrome or not ROTATOR

Given string  ROTATOR is palindrome

In [17]:
#3. Convert a string to uppercase.
str3 = input('enter a string to convert to upper case:')
# By using UPPER method we can convert sting to upper case 
print(f"Converted string is {str3.upper()}")

enter a string to convert to upper case: reddi kumar

Converted string is REDDI KUMAR

In [21]:
#4. Convert a string to lowercase.
str3 = input('enter a string to convert to upper case:')
# By using LOWER method we can convert sting to upper case 
print(f"Converted string is {str3.lower()}")

enter a string to convert to upper case: REDDI KUMAR

Converted string is reddi kumar

In [1]:
#5. Count the number of vowels in a string.
vowels = 'aeiouAEIOU'
sentence = input('Enter a sentence:')
# select a values from variables VOWELS and check vowel in sentence and count it
count = sum(sentence.count(vowel) for vowel in vowels)
print('Toal vowels are :' , count)

Enter a sentence: Reddi Kumar Designation is Machine Learning Architech

Toal vowels are : 19

In [9]:
#6. Count the number of consonants in a string.
v = 0
c = 0
sentence = input('Enter a sentence:')
# select a values from variables VOWELS and check vowel in sentence and count it
for i in sentence:
    if i in vowels:
        v += 1
    else:
        c += 1
        
print('Total Consonants in sentence are  :' , c)
print('Total vowels in sentence are  :' , v)

print('String length is ' ,  len(sentence))
str_len = c + v
print('The sum of consonants and vowels are :' , str_len)
# Hence proved that sum of consonants and sum of vowels are equal to string length

Enter a sentence: Reddi Kumar Designation is Machine Learning Architech

Total Consonants in sentence are  : 34
Total vowels in sentence are  : 19
String length is  53
The sum of consonants and vowels are : 53

In [13]:
# 7. Remove all whitespaces from a string.
# By using STRIP method we can remove all white spaces(leading and trialing spaces) from string or sentence 
str4 = input('Enter a string with white spaces:')
print('After removing white spaces from string is :' , str4.strip())

Enter a string with white spaces:                     Reddi Kumar Designation is Machine Learning Architech

After removing white spaces from string is : Reddi Kumar Designation is Machine Learning Architech

In [14]:
#8. Find the length of a string without using the `len()` function.
cnt = 0
str5 = 'Reddi Kumar'
for i in str5:
    cnt += 1
print('Length of given string is :' , cnt)

Length of given string is : 11

In [38]:
#9. Check if a string contains a specific word.

str6 = 'Reddi Kumar is Machine Learning Architech'
s = input('Enter word to search in sentence')
# There are two to check word in sting FIND method and using IF ...IN , 
# Only difference is if we want index of a word we will use FIND method
if s in str6:
    print('String found in :' , str6)
else:
    print('String not found')
    
# Given stri    
st_ind = str6.find(s) 
if st_ind >= 0:
    print('String found and Index of given word is :' , st_ind)
else:
    print('String not found using FIND method')

Enter word to search in sentence Machine

String found in : Reddi Kumar is Machine Learning Architech
String found and Index of given word is : 15

In [17]:
#10. Replace a word in a string with another word.
# By using REPLACE method we can replace a string
str7 = 'Reddi Kumar Bandaru'
print('Sting before replace :' , str7)
rpl_str = str7.replace("Reddi Kumar","Jashwin")
print('Sting after replace :' , rpl_str)

Sting before replace : Reddi Kumar Bandaru
Sting after replace : Jashwin Bandaru

In [19]:
# 11. Count the occurrences of a word in a string.
# By using COUNT function we can get the count of given word
str8 = input('Enter a sentence :')
word = input('Enter a word to search :')

print('Count of give word is:' , str8.count(word))

Enter a sentence : reddi kumar is ram is
Enter a word to search : is

Count of give word is: 2

In [20]:
#12. Find the first occurrence of a word in a string.
#By using the FIND methods we can get the first occurance(index) of word
str8 = input('Enter a sentence :')
word = input('Enter a word to check first occurance :')

print('First occurance of word is :' , str8.find(word))

Enter a sentence : Reddi Kumar Bandaru Reddi Kumar Bandaru
Enter a word to check first occurance : Kumar

First occurance of word is : 6

In [22]:
# 13. Find the last occurrence of a word in a string.
#12. Find the first occurrence of a word in a string.
#By using the RFIND methods we can get the first occurance(index) of word
str8 = input('Enter a sentence :')
word = input('Enter a word to check first occurance :')

print('Last occurance of word is :' , str8.rfind(word))

Enter a sentence : Reddi Kumar Bandaru Reddi Kumar Bandaru
Enter a word to check first occurance : Kumar

Last occurance of word is : 26

In [26]:
# 14. Split a string into a list of words.
# By using the SPLIT method we can make a list of words 
str9 = input('Enter a sentence :')
list1 = str9.split(" ")
print('List created with words is' , list1)

Enter a sentence : Reddi Kumar Bandaru is Machine Learning Archtech

List created with words is ['Reddi', 'Kumar', 'Bandaru', 'is', 'Machine', 'Learning', 'Archtech']

In [29]:
# 15. Join a list of words into a string.
# By using JOIN methods we can achieve this 
# We already having list list1 

sent = " ".join(list1)
print('Joined string is :' , sent)

Joined string is : Reddi Kumar Bandaru is Machine Learning Archtech

In [30]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
# By using the REPLACE method we can 
str10 = 'Reddi Kumar Bandaru'
cnv_str = str10.replace(" ","_")
print('Converted strind is :' , cnv_str)

Converted strind is : Reddi_Kumar_Bandaru

In [43]:
#17. Check if a string starts with a specific word or phrase.
# By using STARTSWITH method 
str11 = 'Reddi Kumar Bandaru'
ind = str11.startswith('Reddi')
if ind is True:
    print('String started with given word')
else:
    print('String not started with given word')

String started with given word

In [44]:
#18. Check if a string ends with a specific word or phrase.
# By using ENDSWITH method 
str11 = 'Reddi Kumar Bandaru'
ind = str11.endswith('Bandaru')
if ind is True:
    print('String Ends with given word')
else:
    print('String not ends with given word')

String Ends with given word

In [47]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
# By using TITLE method we can do that, which means first letter in every word should be capital letter
str12 = 'reddi kumar designation is machine learning architech'
str12.title()

'Reddi Kumar Designation Is Machine Learning Architech'

In [48]:
#20. Find the longest word in a string.
# By using SPLIT and MAX methods we can achieve this one by passing LEN to parameter KEY
str13 = 'Reddi Kumar Designation Is Machine Learning Architech'
# By using split we are dividing string into words list
word_list = str13.split(" ")
# Then By using the MAX method we can get the word which is having max length
logest_word = max(word_list , key = len)
print('Longest word in a string is :' , logest_word)

Longest word in a string is : Designation

In [51]:
#21. Find the shortest word in a string.
# By using SPLIT and MIN methods we can achieve this one by passing LEN to parameter KEY
str13 = 'Reddi Kumar Designation Is Machine Learning Architech'
# By using split we are dividing string into words list
word_list = str13.split(" ")
# Then By using the MIN method we can get the word which is having shortest length
short_word = min(word_list , key = len)
print('Longest word in a string is :' , short_word)

Longest word in a string is : Is

In [2]:
# 22. Reverse the order of words in a string.
# By using SPLIT function reverse order
# Create a dummy list and append all values then perform JOIN 
str14 = 'Reddi Kumar Designation Is Machine Learning Architech'
s1 = str14.split(" ")[::-1]
word_list2 = []
for i in s1:
    word_list2.append(i)
print(" ".join(word_list2))

Architech Learning Machine Is Designation Kumar Reddi

In [9]:
# 23. Check if a string is alphanumeric.
# By using ISALNUM method we can find whether string is having alpha numric values or nor
#Note: Sting should not have space, If it has white space we will get the wrong output because white space can't be consider decimal or alphabet
str15 = 'ReddiKumar1223'
ind2 = str15.isalnum()
if ind2 is True:
    print('Alpha numeric values are there in given string' , str15)
else:
    print('There is no alpha numeric values in given string')

Alpha numeric values are there in given string ReddiKumar1223

In [31]:
#24. Extract all digits from a string.
# the first example will extract only if number written as separate word
str16 = 'Reddi 24061988 Bandaru'
res = [int(i) for i in str16.split() if i.isdigit()]
print(res)

[24061988]

In [27]:
str17 = 'Redd12 Ku34mar Band43aru'

In [30]:
# The below example can extarct all the numeric values and made a single numeric values
numr = '0123456789'
string = ''
for i in str17:
    if i in numr:
        string = string + i
print(int(string))

123443

In [40]:
# 25. Extract all alphabets from a string.
numr = '0123456789'
string = ''
string1 = ''
for i in str17:
    if i in numr or i == ' ':
        string1 = string1 + i
    else:
        string = string + i
print(string)

ReddKumarBandaru

In [45]:
#26. Count the number of uppercase letters in a string.
#27. Count the number of lowercase letters in a string.
# Question 26 and 27 are implemeted in same loop please have a look
str18 = 'Reddi Kumar Bandaru'
upper = 0
lower = 0
for i in str18:
    if i.islower():
        lower += 1
    elif i.isupper():
        upper += 1

print('Number of upper case letters are :' , upper)
print('Number of lower case letters are :' , lower)

Number of upper case letters are : 3
Number of lower case letters are : 14

In [48]:
#28. Swap the case of each character in a string.
# By using SWAPCASE method we can cheive this. This will convert small case to upper and upper case to lower case
str17.swapcase()

'rEDD12 kU34MAR bAND43ARU'

In [49]:
# 29. Remove a specific word from a string.
# By using REPLACE method we can replace a specific word in string
str18 = 'Reddi Kumar Bandaru'
print(str18.replace('Kumar',''))

Reddi  Bandaru

In [1]:
# 30. Check if a string is a valid email address.
import re

regex = re.compile(r'([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+')

def isValid(email):
    if re.fullmatch(regex, email):
      print("Valid email")
    else:
      print("Invalid email")

In [2]:
isValid("b.reddikumar@gmail.com")
isValid("reddikumar1988@yahoo.co.uk")
isValid("reddikumar1988@...uk")
isValid("...@domain.us")

Valid email
Valid email
Invalid email
Invalid email

In [1]:
# 31. Extract the username from an email address string.
# 32. Extract the domain name from an email address string.
email = 'reddikumar1988@gmail.com'

res_lst = email.split('@')
username = res_lst[0]
domain = res_lst[1]
print('Domain name is :' , domain)
print('user name is :' , username)

Domain name is : gmail.com
user name is : reddikumar1988

In [7]:
# 33. Replace multiple spaces in a string with a single space
# By using SPLIT method split the string into list and usig JOIN make single string again

str20 = 'Reddi    Kumar    Bandaru'
split_word = ' '.join(str20.split())
print(split_word)

Reddi Kumar Bandaru

In [9]:
pip install validators

Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Installing collected packages: validators
Successfully installed validators-0.22.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
# 34. Check if a string is a valid URL.
# we have to import VALIDATORS package, in this we have existing method URL which is having feasibility to test whether it correct or not
import validators
url = input('Enter URL to check whether it is correct or not :')
if not validators.url(url):
    print('URL is not valid')
else:
    print('Its a valid URL')

Enter URL to check whether it is correct or not : https://www.youtube.com/watch?v=owWrOAHTens

Its a valid URL

In [9]:
# 35. Extract the protocol (http or https) from a URL string
# we need URLLIB.PARSE lib to get or protocol
import urllib.parse
url = 'https://stackoverflow.com/questions/9626535/get-protocol-host-name-from-url'
protocol = urllib.parse.urlsplit(url)
print('Protocol is :', protocol.scheme)

Protocol is : https

In [11]:
# Manual way to get the protocol
lst4 = url.split('/')
lst4[0]

'https:'

In [13]:
# 36. Find the frequency of each character in a string
# Creating dictionary, key as character value from string and frequency is value in dictionalry
str21 = 'reddi kumar bandaru'
char = {}
for i in str21:
    if i in char:
        char[i] += 1
    else:
        char[i] = 1
print('Frequency of each characters are :' , char)

Frequency of each characters are : {'r': 3, 'e': 1, 'd': 3, 'i': 1, ' ': 2, 'k': 1, 'u': 2, 'm': 1, 'a': 3, 'b': 1, 'n': 1}

In [15]:
# 37. Remove all punctuation from a string
# STRING.PUNCTUATIONS will remove punctuations from string
import string
str22 = 'Hello world !! , Welcome : back'
str22 = str22.translate(str.maketrans('' , '' , string.punctuation))
print(str22)

Hello world   Welcome  back

In [18]:
# 38. Check if a string contains only digits.
# We can chieve this by using method ISDIGIT if it is true that means string is having only digist otherwise not
str23 = '123456'
str23.isdigit()

True

In [21]:
# 39. Check if a string contains only alphabets
# We can chieve this by using method ISALPHA if it is true that means string is having only alphabets otherwise not
str24 = 'Reddi'
str24.isalpha()

True

In [23]:
#40. Convert a string to a list of characters.
# I am using list() function
str25 = 'reddikumar'
str_lst = list(str25)
print(str_lst)

['r', 'e', 'd', 'd', 'i', 'k', 'u', 'm', 'a', 'r']

In [26]:
#41. Check if two strings are anagrams.
def validate_anagaram(s1,s2):
    if sorted(s1) == sorted(s2):
        print('Given stings ' , s1.upper() , 'and ' , s2.upper() , ' are anagarams')

In [27]:
s1 = 'listen'
s2 = 'silent'
validate_anagaram(s1,s2)

Given stings  LISTEN and  SILENT  are anagarams

In [45]:
#42. Encode a string using a Caesar cipher
# Caeser cipher shift three digits
encode = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'
decode = 'DEFGHIJKLMNOPQRSTUVWXYZABCdefghijklmnopqrstuvwxyzabc'
str26 = input('Enter a string to encode:')

Enter a string to encode: ReddiKumarBandaru

In [46]:
def encode_str(s5):
    s6 = ''
    for i in s5:
        pos = encode.find(i)
        s6 += decode[pos]
    return s6

In [47]:
s6 = encode_str(str26)
print('Encoded string is :' , s6)

Encoded string is : UhgglNxpduEdqgdux

In [49]:
# 43. Decode a Caesar cipher encoded string
def decode_str(s7):
    s8 = ''
    for i in s7:
        pos = decode.find(i)
        s8 += encode[pos]
    return s8

In [50]:
s8 = decode_str(s6)
print('Decoded value is :',s8)

Decoded value is : ReddiKumarBandaru

In [59]:
# 44. Find the most frequent word in a string

tst_name = 'Reddi kumar bandaru Reddi Jashwin Agasthya Reddi Jashwika'
name_lst = tst_name.split(' ')

lst_wrd = {}

for wrd in name_lst:
    if wrd in lst_wrd:
        lst_wrd[wrd] += 1
    else:
        lst_wrd[wrd] = 1
    
res = max(lst_wrd, key=lst_wrd.get)
res

'Reddi'

In [37]:
# 45. Find all unique words in a string.
# By using SET data structure I can able to achieve this because SET is having a property of unique data
tst_name = 'Reddi kumar bandaru Reddi Jashwin Agasthya Reddi Jashwika'
print('Given string is :' , tst_name)
uniq_wrd = set(tst_name.split(' '))
uniq_wrd

Given string is : Reddi kumar bandaru Reddi Jashwin Agasthya Reddi Jashwika

{'Agasthya', 'Jashwika', 'Jashwin', 'Reddi', 'bandaru', 'kumar'}

In [40]:
# 46. Count the number of syllables in a string
cnt = 0
for i in tst_name:
    if i not in ['a' , 'e' ,'i','o','u','A' , 'E' ,'I','O','U',' ']:
        cnt += 1
print(cnt)

31

In [2]:
# 47. Check if a string contains any special characters
#symbols = {'`','~','!','@','#','$','%','^','&','*','(',')','_','-','+','=','{','[','}','}','|','\',':',';',''"',''','<',',','>','.','?','/'}

In [4]:
# 48. Remove the nth word from a string.
str_w = 'Reddi Kumar Bandaru Data Scientist'
lst_w = str_w.split()
lst_w.remove('Bandaru')
str_w2 = ' '.join(lst_w)
str_w2

'Reddi Kumar Data Scientist'

In [6]:
# 49. Insert a word at the nth position in a string.
print(str_w2 )
lst_w1 = str_w2.split()
print(lst_w1)
# Insert into list in 3rd position 
lst_w1.insert(2,'Bandaru')
str_w3 = ' '.join(lst_w1)
print('Inserted string is : ', str_w3)

Reddi Kumar Data Scientist
['Reddi', 'Kumar', 'Data', 'Scientist']
Inserted string is :  Reddi Kumar Bandaru Data Scientist

In [35]:
# 50. Convert a CSV string to a list of lists.
l4 = []
file1 = open('data.csv', 'r')
Lines = file1.readlines()
print(Lines)
type(Lines)
for i in Lines:
    ls4 = i.split()
    l4.append(ls4)
print(l4)

['name,subject,marks\n', 'Reddi,maths,50\n', 'Kumar,science,60\n', 'Bandaru,social,70']
[['name,subject,marks'], ['Reddi,maths,50'], ['Kumar,science,60'], ['Bandaru,social,70']]

## List Based Practice Problem

In [6]:
# 1. Create a list with integers from 1 to 10
num1 = range(1,10)
list1 = list(num1)
print(type(list1))
print(list1)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# 2. Find the length of a list without using the `len()` function

nlen = 0
for x in list1:
    nlen += 1
print('Length of the list list1 :' , nlen )

Length of the list list1 : 11

In [11]:
# 3. Append an element to the end of a list
# By using APPEND method we can add element in last position
list1.append(10)
print(list1)

[1, 2, 3, 13, 4, 5, 6, 7, 8, 9, 10, 10]

In [14]:
# 4. Insert an element at a specific index in a list
# By using INSERT method we can add element in specific position
list1.insert(3,13)
print(list1)

[1, 2, 3, 13, 13, 4, 5, 6, 7, 8, 9, 10, 10]

In [16]:
# 5. Remove an element from a list by its value
# By using REMOVE method we can remove element from list based value as input
list1.remove(13)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [17]:
# 6. Remove an element from a list by its index
# In below example value 3 is in 2nd position so using POP method, by default it will delete last value 
list1.pop(2)
print(list1)

[1, 2, 4, 5, 6, 7, 8, 9, 10, 10]

In [21]:
# 7. Check if an element exists in a list
# By using COUNT method we can achieve this, if returns 0 then value not found
print(list1.count(3))

0

In [39]:
# 8. Find the index of the first occurrence of an element in a list
# By using the INDEX we can achieve this
list2 = [1,2,3,4,5,6,7,4,5,6,4,5,6]
print(list2.index(4))

3

In [40]:
# 9. Count the occurrences of an element in a list
# By using COUNT method we can use 
print(list2.count(4))

3

In [41]:
# 10. Reverse the order of elements in a list
print('Print the list of current order :' , list2)
list2.reverse()

Print the list of current order : [1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 4, 5, 6]

In [43]:
list2.reverse()

In [45]:
list2

[6, 5, 4, 6, 5, 4, 7, 6, 5, 4, 3, 2, 1]

In [48]:
# 11. Sort a list in ascending order
# SORT method we can sory 
list3 = [45,24,60,22,55,35,50,70]
print(list3)

[45, 24, 60, 22, 55, 35, 50, 70]

In [50]:
list3.sort()

In [51]:
list3

[22, 24, 35, 45, 50, 55, 60, 70]

In [57]:
# 12. Sort a list in descending order
# By using SORT and function reverse = True will give reverse order
list4 = [45,24,60,22,55,35,50,70]
list4.sort(key=None , reverse= True)

In [58]:
list4

[70, 60, 55, 50, 45, 35, 24, 22]

In [60]:
# 13. Create a list of even numbers from 1 to 20
# by using range and for keywords 
even_number = [ x for x in range(20) if (x%2 == 0)]
even_number

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [61]:
# 14. Create a list of odd numbers from 1 to 20
# by using range and for keywords 
odd_number = [ x for x in range(20) if (x%2 != 0)]
odd_number

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [64]:
# 15. Find the sum of all elements in a list
sum(list4)

361

In [65]:
sum_of_values = sum( x for x in list4)
sum_of_values

361

In [66]:
# 16. Find the maximum value in a list
max(list4)

70

In [67]:
# 17. Find the minimum value in a list.
min(list4)

22

In [1]:
# 18. Create a list of squares of numbers from 1 to 10
squares = [x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# 19. Create a list of random numbers
# To generate random number need to import RANDOM class
import random

In [6]:
# 19. Create a list of random numbers
rand_list  = []
for i in range(1,11):
    rand_list.append(random.randint(1,100))
print(rand_list)

[76, 83, 66, 88, 21, 4, 51, 14, 59, 28]

In [7]:
# 20. Remove duplicates from a list
# I am using SET to avoid duplicates because SET will not accept duplicates
list5 = [1,4,5,7,4,5,6,7,9,3,5]
rmv_dup_list = list(set(list5))
print(rmv_dup_list)

[1, 3, 4, 5, 6, 7, 9]

In [9]:
# 21. Find the common elements between two lists

def commonelem(a,b):
    a_set = set(a) 
    b_set = set(b)
    res_set = a_set.intersection(b_set)
    common_list = list(res_set)
    print(common_list)

list6 = [1,2,3,4,5,6]
list7 = [4,5,6,7,8,9]
commonelem(list6,list7)

[4, 5, 6]

In [11]:
# 22. Find the difference between two lists
# SET is having DIFFERENCE method
a_set = set(list6)
b_set = set(list7)
res_set1 = a_set.difference(b_set)
diff_list = list(res_set1)
print(diff_list)

[1, 2, 3]

In [13]:
# 23. Merge two lists.

list6 + list7

[1, 2, 3, 4, 5, 6, 4, 5, 6, 7, 8, 9]

In [16]:
# 24. Multiply all elements in a list by 2

mul_list = [x*2 for x in list6]
print(mul_list)

[2, 4, 6, 8, 10, 12]

In [17]:
# 25. Filter out all even numbers from a list

evenlist = [i for i in list6 if i % 2 == 0]
print(evenlist)

[2, 4, 6]

In [26]:
# 26. Convert a list of strings to a list of integers
char_list = ["25","30","10","15","17"]
num_list = list(map(int ,char_list))
print(num_list)

[25, 30, 10, 15, 17]

In [27]:
# 27. Convert a list of integers to a list of strings.
nlist = [15,20,30,40,50,60,70,80,90]
#char_tup = tuple(char_list)
ch_list = list(map(str ,nlist))
print(ch_list)

['15', '20', '30', '40', '50', '60', '70', '80', '90']

In [30]:
# 28. Flatten a nested list.
# By using EXTEND method we can achieve this
def falltenlist(lst1):
    flatten_list = []
    for x in lst1:
        flatten_list.extend(x)
    return flatten_list

In [31]:
nest_list = [[1],[2,3],[4,5,6],[7,8,9]]
flattenlist = falltenlist(nest_list)
print(flattenlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# 29. Create a list of the first 10 Fibonacci numbers
fablist = [0]
first = 0
second = 1

cnt = 1

while cnt < 10:
    fiba = first + second
    fablist.append(fiba)
    first = second
    second = fiba
    cnt += 1
print(fablist)

[0, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [26]:
# 30. Check if a list is sorted.
list8 = [24,19,23,15,27,45,10,9]
list9 = list8.copy()
list9.sort()
if list8 == list9:
    print('List is in sorted order')
else:
    print('List is not sorted order')

List is not sorted order

In [40]:
# 31. Rotate a list to the left by `n` positions.
list10 = [1,2,3,4,5,6,7]
x = len(list10)
n = int(input('Enter n value to shift :'))
print ('x:' , x , 'n:' , n)
if x >= n:
    temp_list1 = list10[n:]
    temp_list2 = list10[:n]
    final_list1 = temp_list1 + temp_list2
    print(final_list1)
else:
    print('Entered value is greater than list length')

Enter n value to shift : 5

x: 7 n: 5
[6, 7, 1, 2, 3, 4, 5]

In [41]:
# 32. Rotate a list to the right by `n` positions.
list11 = [1,2,3,4,5,6,7]
x1 = len(list11)
n1 = int(input('Enter n value to shift :'))
print ('x:' , x1 , 'n:' , n1)
if x1 >= n1:
    temp_list2 = list10[:n]
    temp_list1 = list10[n:]
    final_list1 = temp_list2 + temp_list1
    print(final_list1)
else:
    print('Entered value is greater than list length')

Enter n value to shift : 4

x: 7 n: 4
[1, 2, 3, 4, 5, 6, 7]

In [42]:
# 33. Create a list of prime numbers up to 50.
prime_list = []
for n in range(2,101):
    prime = True
    for i in range(2,n):
        if (n%i == 0):
            prime = False
    if prime:
        prime_list.append(n)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [49]:
# 34. Split a list into chunks of size `n`.

def devidechunk(l , n):
    for i in (0 , len(list12) , n):
        yield l[i:i+n]
    

list12 = [1,2,3,4,5,6,7,8,9,0,11,12,13,14,15]
n = 5

fin_list12 = list(devidechunk(list12 , n))
print(fin_list12)

[[1, 2, 3, 4, 5], [], [6, 7, 8, 9, 0]]

In [16]:
# 35. Find the second largest number in a list.
list13 = [12,40,35,50,66,44,77,88,21,49,37]
list14 = list13.copy()
list14.sort()
print(list14)
list14[-2]

[12, 21, 35, 37, 40, 44, 49, 50, 66, 77, 88]

77

In [20]:
# 36. Replace every element in a list with its square.
# This is possible using LIST Comprehension
list15 = [1,2,3,4,5,6,7,8,9]
square_list = [i*i for i in list15]
print('Squares of all elements in the list is :' , square_list)

Squares of all elements in the list is : [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
def list_to_dict(lst):
    dict_index_indices = {index: value for index ,value in enumerate(lst)}
    return dict_index_indices
list16 = ['Reddi','Kumar','Bandaru']
dict_index_indices = list_to_dict(list16)
print(dict_index_indices)

{0: 'Reddi', 1: 'Kumar', 2: 'Bandaru'}

In [25]:
# 38. Shuffle the elements of a list randomly.
import random
random.shuffle(list16)
print(list16)

['Bandaru', 'Kumar', 'Reddi']

In [32]:
# 39. Create a list of the first 10 factorial numbers.
def factorial(lst):
    fact_lst = []
    for i in lst:
        factorial = 1
        for i in range(1,i + 1):
            factorial = factorial*i
        fact_lst.append(factorial)
    return fact_lst

flist = list(range(1,11))
fact_lst = factorial(flist)
print(fact_lst)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [36]:
# 40. Check if two lists have at least one element in common.
list30 = [1,2,3,4]
list31 = [3,5,6]

result = False 
for i in list30:
    for j in list31:
        if i == j:
            result = True
if result:
    print('Atleast one matched record exists')
else:
    print('No common value found')

Atleast one matched record exists

In [42]:
# By converting LIST to SET and use INTERSECTION method
list32 = [1,2,3,4]
list33 = [5,6]
l_set1 = set(list32)
l_set2 = set(list33)

if len(l_set1.intersection(l_set2)) > 0:
    print('Common elements found')
else:
    print('No common elements found')

No common elements found

In [44]:
#41. Remove all elements from a list.
# By using CLEAR method we can do that
list34 = [1,2,3,4,5,6]
print('List before cleared :' , list34)
list34.clear()
print('List after cleared :' , list34)

List before cleared : [1, 2, 3, 4, 5, 6]
List after cleared : []

In [50]:
# 42. Replace negative numbers in a list with 0.
list35 = [1,2,-3,8,-4]
print('List is having negative values L' , list35)

#l1 = [ i for i in list35 if i < 0 return 0 else return i]
list36 = [0 if i < 0 else i for i in list35]   
print('Negative values got changed to 0',list36)

List is having negative values L [1, 2, -3, 8, -4]
Negative values got changed to 0 [1, 2, 0, 8, 0]

In [51]:
# 43. Convert a string into a list of words.
string = 'Reddi Kumar Bandaru'
list37 = string.split()
list37

['Reddi', 'Kumar', 'Bandaru']

In [53]:
#44. Convert a list of words into a string.
strings = ' '.join(list37)
strings

'Reddi Kumar Bandaru'

In [56]:
# 45. Create a list of the first `n` powers of 2.
power = int(input('Enter power value :'))
two_power = []
for i in range(0,power):
    two_power.append(2**i) 
print(two_power)

Enter power value : 5

[1, 2, 4, 8, 16]

In [59]:
# 46. Find the longest string in a list of strings.
list_str = ['Reddi','Kumar','Bandaru','Agasthya','Jashwin','Jashwika']
long_str = max(list_str, key= len)
print('Longest string in list of strings is :',long_str)

Longest string in list of strings is : Agasthya

In [60]:
# 47. Find the shortest string in a list of strings.
shrt_str = min(list_str, key= len)
print('Shortest string in list of strings is :' , shrt_str)

Shortest string in list of strings is : Reddi

In [4]:
# 48. Create a list of the first `n` triangular numbers.
in_num = int(input('Enter how many Triangular Number you want :'))
tri_num = []
for i in range(0,in_num):
    tnum = i * (i+1) / 2
    tri_num.append(int(tnum))
print(tri_num)

Enter how many Triangular Number you want : 15

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105]

In [14]:
# 49. Check if a list contains another list as a subsequence.

test_list = [1,2,3,4,5,6,7,8,9]
sub_list = [4,5,9]
if(all(x in test_list for x in sub_list)):
    print('Given list is Sublist')
else:
    print('Given list is not sublist')

Given list is Sublist

In [17]:
# 50. Swap two elements in a list by their indices.
list37 = [1,2,3,4,5]


list37[0] , list37[1] = list37[1] , list37[0]
print(list37)

[2, 1, 3, 4, 5]

# Tuple Based Practice Problem :

In [19]:
# 1. Create a tuple with integers from 1 to 5.
tuple1 = (1,2,3,4,5)
type(tuple1)

tuple

In [21]:
# 2. Access the third element of a tuple.
tuple1[2]

3

In [24]:
# 3. Find the length of a tuple without using the `len()` function.
cnt = 0
for i in tuple1:
    cnt += 1
print('Length of tuple is :', cnt)

Length of tuple is : 5

In [25]:
# 4. Count the occurrences of an element in a tuple.
tuple2 = (1,2,3,4,5,4,5,4)
tuple2.count(4)

3

In [27]:
# 5. Find the index of the first occurrence of an element in a tuple.
first_occurance = tuple2.index(4)
print('First occurance of 4 is :' , first_occurance)

First occurance of 4 is : 3

In [32]:
# 6. Check if an element exists in a tuple.
if 4 in tuple2:
    print('Element found in Tuple')
else:
    print('Element not found in Tuple')

Element found in Tuple

In [36]:
# 7. Convert a tuple to a list.
list39 = list(tuple2)
print(list39)
print(type(list39))

[1, 2, 3, 4, 5, 4, 5, 4]
<class 'list'>

In [38]:
# 8. Convert a list to a tuple.
list40 = [1,2,3,4,5,6,7,8,9]
tuple3 = tuple(list40)
print(tuple3)
print(type(tuple3))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [41]:
# 9. Unpack the elements of a tuple into variables.
tuple4 = (1,2)
x , y = tuple4
print(x)
print(y)

1
2

In [44]:
# 10. Create a tuple of even numbers from 1 to 10.
elist = []
for i in range(1,11):
    if i%2 == 0:
        elist.append(i)
tuple5 = tuple(elist)
print(tuple5)

(2, 4, 6, 8, 10)

In [45]:
# 11. Create a tuple of odd numbers from 1 to 10.
elist1 = []
for i in range(1,11):
    if i%2 != 0:
        elist1.append(i)
tuple6 = tuple(elist1)
print(tuple6)

(1, 3, 5, 7, 9)

In [48]:
# 12. Concatenate two tuples.
tuple7 = (1,2,3,4) 
tuple8 = (5,6,7,8)
tuple9 = tuple7 + tuple8
print(tuple9)

(1, 2, 3, 4, 5, 6, 7, 8)

In [50]:
# 13. Repeat a tuple three times.
tuple7 * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [53]:
# 14. Check if a tuple is empty.
tuple10 = (1,2,3)
tuple11 = ()
# Check using condition is false tuple is not empty
print(tuple10 == ())
# using len function 0 the tuple is empty
print(len(tuple11))

False
0

In [55]:
# 15. Create a nested tuple.
tuple12 = (('Reddi','Kumar','Bandaru'),('Maths','Physics','Chemistry'),(45,50,60))
print(tuple12)
print(type(tuple12))

(('Reddi', 'Kumar', 'Bandaru'), ('Maths', 'Physics', 'Chemistry'), (45, 50, 60))
<class 'tuple'>

In [59]:
# 16. Access the first element of a nested tuple.
tuple12[0][0]

'Reddi'

In [63]:
# 17. Create a tuple with a single element.
tuple13 = (40,)
print(tuple13)
print(type(tuple13))

(40,)
<class 'tuple'>

In [65]:
# 18. Compare two tuples.
tuple14 = (1, 2, 3, 4)
tuple15 = (1, 2, 3)

if tuple14 == tuple15:
    print("The two tuples are equal")
else:
    print("The two tuples are not equal")

The two tuples are not equal

In [68]:
# 19. Delete a tuple.
# Using DEL method we can delete tuple
tuple16 = (1,2,3)
print(tuple16)

(1, 2, 3)

In [69]:
del tuple16

In [82]:
# 20. Slice a tuple.
tuple17 = (25,35,15,10,12,14)
print(tuple17[1])
print(tuple17[-2])
print(tuple17[1:3])
print(tuple17[-5:-2])
print(tuple17[-1:-5:-2])

35
12
(35, 15)
(35, 15, 10)
(14, 10)

In [84]:
# 21. Find the maximum value in a tuple.
value = max(tuple17)
print(value)

35

In [85]:
# 22. Find the minimum value in a tuple.
value = min(tuple17)
print(value)

10

In [91]:
# 23. Convert a string to a tuple of characters.
str1 = 'ReddiKumar'
lstr = tuple(str1)
print(lstr)

('R', 'e', 'd', 'd', 'i', 'K', 'u', 'm', 'a', 'r')

In [93]:
# 24. Convert a tuple of characters to a string.
str2 = ''.join(lstr)
str2

'ReddiKumar'

In [1]:
# 25. Create a tuple from multiple data types.
tuple18 = ('reddi',20,30.5,'kumar')
print(tuple18)

('reddi', 20, 30.5, 'kumar')

In [3]:
# 26. Check if two tuples are identical.
tuple19 = (1,2,3,4)
tuple20 = (1,2,3,4)
tuple21 = (1,2,3)

if tuple19 == tuple20:
    print('tuple19 and tuple20 tuples are identical')
else:
    print('tuple19 and tuple20 are not identical')

if tuple21 == tuple20:
    print('tuple21 and tuple20 tuples are identical')
else:
    print('tuple21 and tuple20 are not identical')

tuple19 and tuple20 tuples are identical
tuple21 and tuple20 are not identical

In [12]:
# 27. Sort the elements of a tuple.
tuple22 = (3,2,6,5,1,4)
lt22 = tuple(sorted(tuple22))
print(lt22)

(1, 2, 3, 4, 5, 6)

In [14]:
# 28. Convert a tuple of integers to a tuple of strings.
tuple23 = ('1', '2', '3', '4', '5')
lt23 = [int(i) for i in tuple23]
tuple24 = tuple(lt23)
print(tuple24)

(1, 2, 3, 4, 5)

In [15]:
# 29. Convert a tuple of strings to a tuple of integers.
lt24 = [str(i) for i in tuple24]
tuple25 = tuple(lt24)
print(tuple25)

('1', '2', '3', '4', '5')

In [17]:
# 30. Merge two tuples.
tuple26 = (1,2,3,4)
tuple27 = (5,6,7,8)
tuple26 + tuple27

(1, 2, 3, 4, 5, 6, 7, 8)

In [1]:
# 31. Flatten a nested tuple.

In [5]:
# 32. Create a tuple of the first 5 prime numbers.
prime_list = []
cnt = 0
for n in range(2,101):
    prime = True
    for i in range(2,n):
        if (n%i == 0):
            prime = False
    if prime:
        cnt += 1
        if cnt >5:
            break
        prime_list.append(n)
tuple28 = tuple(prime_list)
print(tuple28)

(2, 3, 5, 7, 11)

In [4]:
# 33. Check if a tuple is a palindrome.

tuple29 = ('m','a','d','a','m')
tuple30 = tuple29[::-1]
if tuple29 == tuple30:
    print('Palidrome')
else:
    print('Not Palidrome')

Palidrome

In [9]:
# 34. Create a tuple of squares of numbers from 1 to 5.
list41 = []
for i in range(1,6):
    list41.append(i*i)
tuple31 = tuple(list41)
print(tuple31)

(1, 4, 9, 16, 25)

In [12]:
# 35. Filter out all even numbers from a tuple.
tuple32 = (1,2,3,4,5,6,7,8,9)
tuple33 = tuple([i for i in tuple32 if i%2 == 0])
tuple33

(2, 4, 6, 8)

In [13]:
# 36. Multiply all elements in a tuple by 2.
tuple34 = tuple([i*2 for i in tuple32])
tuple34

(2, 4, 6, 8, 10, 12, 14, 16, 18)

In [21]:
# 37. Create a tuple of random numbers.
import random
listrand = []
for i in range(1,10):
    listrand.append(random.randint(1,100))

tuple35 = tuple(listrand)
print(tuple35)

(95, 8, 47, 46, 70, 95, 8, 89, 18)

In [6]:
# 38. Check if a tuple is sorted.
def sorting(tu):
    for i in range(1, len(tuple36)):
        if tu[i] < tu[i-1]:
            return False
    return True


def funccall(tp):
    if sorting(tp):
        print('Tuple is sorted')
    else:
        print('Tuple is not sorted')

tuple36 = (54,35,66,25,77)
funccall(tuple36) 
tuple37 = (1,2,3,4,5)
funccall(tuple37)

Tuple is not sorted
Tuple is sorted

In [7]:
# 39. Rotate a tuple to the left by `n` positions.
n = int(input('Enter number of places to roll'))
tuple38 = (1,2,3,4,5,6,7)
tsttup1 = tuple38[n:]
tsttup2 = tuple38[:n]
print(tsttup1)
print(tsttup2)
print(tsttup1 + tsttup2)

Enter number of places to roll 4

(5, 6, 7)
(1, 2, 3, 4)
(5, 6, 7, 1, 2, 3, 4)

In [14]:
# 40. Rotate a tuple to the right by `n` positions.
n = int(input('Enter number of places to roll'))
tuple38 = (1,2,3,4,5,6,7)
tsttup1 = tuple38[-n:]
tsttup2 = tuple38[:-n]
print(tsttup1)
print(tsttup2)
print(tsttup1 + tsttup2)

Enter number of places to roll 4

(4, 5, 6, 7)
(1, 2, 3)
(4, 5, 6, 7, 1, 2, 3)

In [20]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
fablist = [0,1]
first = 0
second = 1

cnt = 1

while cnt < 6:
    fiba = first + second
    fablist.append(fiba)
    first = second
    second = fiba
    cnt += 1
tup_fib = tuple(fablist)
print(tup_fib)

(0, 1, 1, 2, 3, 5, 8)

In [25]:
# 42. Create a tuple from user input.
inp_lst = input('enter tuple values as input')
tuple40 = tuple(inp_lst.split(','))
print(tuple40)

enter tuple values as input 1,2,3,4,5,6,7,8

('1', '2', '3', '4', '5', '6', '7', '8')

In [30]:
# 43. Swap two elements in a tuple.
tuple41 = (1,2,3,4,5,6)
tup_lst41 = list(tuple41)
tup_lst41[0] , tup_lst41[1] = tup_lst41[1] , tup_lst41[0]
tuple42 = tuple(tup_lst41)
print(tuple42)

(2, 1, 3, 4, 5, 6)

In [34]:
# 44. Reverse the elements of a tuple.
tuple43 = (1,2,3,4,5,6)
tuple44 = tuple(list(tuple43)[::-1])
tuple44

(6, 5, 4, 3, 2, 1)

In [38]:
# 45. Create a tuple of the first `n` powers of 2.
n = int(input('Enter how many powers you want'))
tuple45 = tuple([2**i for i in range(0,n)])
tuple45

Enter how many powers you want 15

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384)

In [43]:
# 46. Find the longest string in a tuple of strings.
tuple46 = ('Reddi','Kumar','Bandaru','Jashwin','Jashwika')
str46 = ' '.join(tuple46)
str47 = str46.split(" ")
logest_word = max(str47 , key = len)
print('Longest word in a string is :' , logest_word)

Longest word in a string is : Jashwika

In [45]:
# 47. Find the shortest string in a tuple of strings.
tuple46 = ('Reddi','Kumar','Bandaru','Jashwin','Jashwika')
str46 = ' '.join(tuple46)
str47 = str46.split(" ")
short_word = min(str47 , key = len)
print('Shortest word in a string is :' , short_word)

Shortest word in a string is : Reddi

In [46]:
# 48. Create a tuple of the first `n` triangular numbers.
in_num = int(input('Enter how many Triangular Number you want :'))
tri_num = []
for i in range(0,in_num):
    tnum = i * (i+1) / 2
    tri_num.append(int(tnum))
    
tuple47 = tuple(tri_num)
print(tuple47)

Enter how many Triangular Number you want : 5

(0, 1, 3, 6, 10)

In [57]:
# 49. Check if a tuple contains another tuple as a subsequence.
tuple48 = (1,2,3,4,5,6,7)
sub_tup = (4,5,6)
st1 = set(tuple48)
st2 = set(sub_tup)

if st2.issubset(st1):
    print('is Sub sequence')
else:
    print('is not Sub sequence')

is Sub sequence

In [62]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = int(input('Enter number of values '))
tup_lst49 = []
for i in range(1,n+1):
    if i%2 == 0:
        tup_lst49.append(0)
    else:
        tup_lst49.append(1)
tuple49 = tuple(tup_lst49)
print(tuple49)

Enter number of values  5

(1, 0, 1, 0, 1)

# Set Based Practice Problem :

In [5]:
# 1. Create a set with integers from 1 to 5.
set1 = set(range(1,6))
set1

{1, 2, 3, 4, 5}

In [6]:
# 2. Add an element to a set.
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

In [7]:
# 3. Remove an element from a set.
set1.remove(5)
set1

{1, 2, 3, 4, 6}

In [9]:
# 4. Check if an element exists in a set.
if 4 in set1:
    print('Element found in SET')
else:
    print('Element not found in SET')

Element found in SET

In [10]:
# 5. Find the length of a set without using the `len()` function.
cnt = 0
for i in set1:
    cnt += 1
print('No of elements in set is : ' , cnt)

No of elements in set is :  5

In [11]:
# 6. Clear all elements from a set.
print('Set before clear : ' , set1)
set1.clear()
print('Set after clear : ' , set1)

Set before clear :  {1, 2, 3, 4, 6}
Set after clear :  set()

In [18]:
# 7. Create a set of even numbers from 1 to 10.

set1 = set([i for i in range(1,11) if i%2 == 0])
set1

{2, 4, 6, 8, 10}

In [17]:
# 8. Create a set of odd numbers from 1 to 10.
set2 = set([i for i in range(1,11) if i%2 != 0])
set2

{1, 3, 5, 7, 9}

In [24]:
# 9. Find the union of two sets.
print('Set1 :' , set1)
print('Set2 :' , set2)
set3 = set1.union(set2)
print('Union of set1 and set2 is : ' , set3)

Set1 : {2, 4, 6, 8, 10}
Set2 : {1, 3, 5, 7, 9}
Union of set1 and set2 is :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:
# 10. Find the intersection of two sets.
print('Set1 is : ' , set1)
print('Set1 is : ' , set3)
print('Intersection of set1 and set3 are : ' , set1.intersection(set3))

Set1 is :  {2, 4, 6, 8, 10}
Set1 is :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection of set1 and set3 are :  {2, 4, 6, 8, 10}

In [36]:
# 11. Find the difference between two sets.
print('Set1 is : ' , set1)
print('Set1 is : ' , set3)
print('Difference between set1 and set3 are : ' , set3.difference(set1))

Set1 is :  {2, 4, 6, 8, 10}
Set1 is :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Difference between set1 and set3 are :  {1, 3, 5, 7, 9}

In [37]:
# 12. Check if a set is a subset of another set.
print('Set1 is : ' , set1)
print('Set1 is : ' , set3)
print('Checking set1 is subset if set3 or not? : ' , set1.issubset(set3))

Set1 is :  {2, 4, 6, 8, 10}
Set1 is :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Checking set1 is subset if set3 or not? :  True

In [38]:
# 13. Check if a set is a superset of another set.\
print('Set1 is : ' , set1)
print('Set1 is : ' , set3)
print('Checking set1 is superset of set3 or not? : ' , set1.issuperset(set3))
print('Checking set3 is superset of set1 or not? : ' , set3.issuperset(set1))

Set1 is :  {2, 4, 6, 8, 10}
Set1 is :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Checking set1 is superset of set3 or not? :  False
Checking set3 is superset of set1 or not? :  True

In [41]:
# 14. Create a set from a list.
set4 = set([1,2,3,4,5,5,6,6,3,2,1])
set4

{1, 2, 3, 4, 5, 6}

In [42]:
# 15. Convert a set to a list.
cvtlst = list(set4)
cvtlst

[1, 2, 3, 4, 5, 6]

In [43]:
# 16. Remove a random element from a set.
set4.pop()

1

In [46]:
# 17. Pop an element from a set.
set4.pop()
set4

{4, 5, 6}

In [52]:
# 18. Check if two sets have no elements in common.
print('Set1 is : ' , set1)
print('Set2 is : ' , set2)
if not set1.intersection(set2):
    print('There are no common elements in two sets')

Set1 is :  {2, 4, 6, 8, 10}
Set2 is :  {1, 3, 5, 7, 9}
There are no common elements in two sets

In [58]:
# 19. Find the symmetric difference between two sets.
# This symmetric difference is ALL elemnts from SET1 and SET2 but but not common elements
set4 = {1,2,3,4,5,6}
set5 = {6,7,8,9,10,11}
# element 6 is common in both the sets so that it will not pick
set4.symmetric_difference(set5)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}

In [60]:
# 20. Update a set with elements from another set.
set6 = {1,2,4,5,6,7,8}
set7 = {9,10}
set6.update(set7)
print('Set6 is : ', set6)

Set6 is :  {1, 2, 4, 5, 6, 7, 8, 9, 10}

In [69]:
# 21. Create a set of the first 5 prime numbers.
set8 = set()
for n in range(2,101):
    prime = True
    for i in range(2,n):
        if (n%i == 0):
            prime = False
    if prime:
        set8.add(n)
print(set8)

{2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97}

In [1]:
# 22. Check if two sets are identical.
def Check_equal(s1,s2):
    print('Set 1 :' , s1)
    print('Set 2 :' , s2)
    if s1 == s2:
        print('The given 2 sets are qual')
    else:
        print('The given 2 sets are not qual')

set9  = {1,2,3,4,5}
set10 = {1,2,3,4,5}
set11 = {1,2,3,4,5,6}
Check_equal(set9,set10)
Check_equal(set11,set10)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {1, 2, 3, 4, 5}
The given 2 sets are qual
Set 1 : {1, 2, 3, 4, 5, 6}
Set 2 : {1, 2, 3, 4, 5}
The given 2 sets are not qual

In [2]:
# 23. Create a frozen set.
# set can't be editable because we create set by using frozenset
frozenset1 = frozenset([1,2,3,4,5,6,7])
print(frozenset1)

frozenset({1, 2, 3, 4, 5, 6, 7})

In [4]:
# 24. Check if a set is disjoint with another set.
# If two sets are different then it will return True, If it has common element then it will return as False
set12 = {'Apple','pomog','banana'}
set13 = {'Grapes','Sapota','CustApple'}
set14 = {'Grapes','pomog','CustApple'}
print(set12.isdisjoint(set13))
print(set12.isdisjoint(set14))

True
False

In [5]:
# 25. Create a set of squares of numbers from 1 to 5.
square_set = set([x*x for x in range(1,6)])
print('Set of squares of numbers :' , square_set)

Set of squares of numbers : {1, 4, 9, 16, 25}

In [9]:
# 26. Filter out all even numbers from a set.
set15 = {1,2,3,4,5,6,7,8,9,10}
set15 = set([x for x in range(1,11) if x%2 == 0])
set15

{2, 4, 6, 8, 10}

In [10]:
# 27. Multiply all elements in a set by 2.
set16 = set([x*2 for x in range(1,11)])
set16

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [7]:
# 28. Create a set of random numbers.
import random
set17 = set()
for i in range(1,11):
    x = random.random()
    set17.add(x)
set17

{0.17858525582776774,
 0.3003316654756365,
 0.3537423397033358,
 0.4623785792665591,
 0.4805187841217934,
 0.6745920554554018,
 0.7177107346756599,
 0.7272401816025044,
 0.8302485234329183,
 0.9396854968154741}

In [10]:
# 29. Check if a set is empty.
if set17 == set():
    print('Set is Empty')
else:
    print('Set is Not empty')

Set is Not empty

In [12]:
# 30. Create a nested set (hint: use frozenset).
nested_set = set([frozenset([1,2]), frozenset([3,4])])
nested_set

{frozenset({3, 4}), frozenset({1, 2})}

In [16]:
# 31. Remove an element from a set using the discard method.
set18 = set([1,2,3,4,5,6,7,8])
set18.discard(4)
set18

{1, 2, 3, 5, 6, 7, 8}

In [17]:
# 32. Compare two sets.
set19 = {1,2,3,4,5}
set20 = {1,2,3,4,5}
set21 = {2,3,4}

if set19 == set20:
    print('Both sets are equal')

if set20 == set21:
    print('Both sets are equal')
else:
    print('Both sets are not equal')

Both sets are equal
Both sets are not equal

In [19]:
# 33. Create a set from a string.
strs = 'reddikumar'
set22 = set(strs)
set22

{'a', 'd', 'e', 'i', 'k', 'm', 'r', 'u'}

In [20]:
# 34. Convert a set of strings to a set of integers.
set23 = {'22','23','45','55'}
set24 = set([int(x) for x in set23])
set24

{22, 23, 45, 55}

In [21]:
# 35. Convert a set of integers to a set of strings.
set25 = set([str(x) for x in set24])
set25

{'22', '23', '45', '55'}

In [23]:
# 36. Create a set from a tuple.
tps = (1,2,3,4,5,6)
print('Type of tps : ' , type(tps))
set26 = set(tps)
print('Type of set26 : ' , type(set26) , ' : ' , set26)

Type of tps :  <class 'tuple'>
Type of set26 :  <class 'set'>  :  {1, 2, 3, 4, 5, 6}

In [25]:
# 37. Convert a set to a tuple.
print('Type of set26 : ' , type(set26))
cvt_tuple = tuple(set26)
print('Type of cvt_tuple : ' , type(cvt_tuple) , ' : ' , cvt_tuple)

Type of set26 :  <class 'set'>
Type of cvt_tuple :  <class 'tuple'>  :  (1, 2, 3, 4, 5, 6)

In [26]:
# 38. Find the maximum value in a set.
max(set26)

6

In [27]:
# 39. Find the minimum value in a set.
min(set26)

1

In [31]:
#40. Create a set from user input.
in_set = input('Please enter complete set values at time with comma separated :')
set27 = set(in_set.split(','))
set27
print('Type of set27 : ' , type(set27))

Please enter complete set values at time with comma separated : 1,2,3,4,5

Type of set27 :  <class 'set'>

In [33]:
# 41. Check if the intersection of two sets is empty.
set28 = {1,2,3,4,5,6,7}
set29 = {6,7,8,9,10,11}
if len(set28.intersection(set29)) == 0:
    print('Intersection of two sets is empty')
else:
    print('Intersection of two sets is not empty')

Intersection of two sets is not empty

In [38]:
# 42. Create a set of the first 5 Fibonacci numbers.
fablist = [0]
set_fib = set([0,1])
first = 0
second = 1

cnt = 1

while cnt < 10:
    fiba = first + second
    set_fib.add(fiba)
    first = second
    second = fiba
    cnt += 1
print(set_fib)

{0, 1, 2, 3, 34, 5, 8, 13, 21, 55}

In [39]:
# 43. Remove duplicates from a list using sets.
set_lst_old = [1,2,3,4,2,3,4,5,2,5,6,1,3]
# Now we have duplicates in list 
print(set_lst_old)
set_from_lst = set(set_lst_old)
set_lst_new = list(set_from_lst)
print('Duplicates are removed from list : ' , set_lst_new)

[1, 2, 3, 4, 2, 3, 4, 5, 2, 5, 6, 1, 3]
Duplicates are removed from list :  [1, 2, 3, 4, 5, 6]

In [42]:
# 44. Check if two sets have the same elements, regardless of their count.
set30 = {1,2,3,4,5}
set31 = {4,5,1,3,2}
if set30 == set31:
    print('Two sets are equal')
else:
    print('Two sets are not equal')

Two sets are equal

In [43]:
# 45. Create a set of the first `n` powers of 2.
set32 = set([2**i for i in range(1,11)])
set32

{2, 4, 8, 16, 32, 64, 128, 256, 512, 1024}

In [3]:
# 46. Find the common elements between a set and a list.
# convert list to set and check 
set33 = {1,2,3,4,5,6,7}
listn = [5,6,7,8,9,10,11]
diff1 = set33.intersection(set(listn))
print(diff1)

{5, 6, 7}

In [4]:
# 47. Create a set of the first `n` triangular numbers.
in_num = int(input('Enter how many Triangular Number you want :'))
tri_num = set()
for i in range(0,in_num):
    tnum = i * (i+1) / 2
    tri_num.add(int(tnum))
print(tri_num)

Enter how many Triangular Number you want : 7

{0, 1, 3, 6, 10, 15, 21}

In [5]:
# 48. Check if a set contains another set as a subset.
set34 = {1,2,3,4,5,6,7}
set35 = {3,4,5}

In [6]:
# 49. Create a set of alternating 1s and 0s of length `n`.
n = int(input('Enter number of values '))
set36 = set()
for i in range(1,n+1):
    if i%2 == 0:
        set36.add(0)
    else:
        set36.add(1)
print(set36)

Enter number of values  5

{0, 1}

In [9]:
# 50. Merge multiple sets into one.
set37 = {1,2,3,4,5}
set38 = {6,7,8,9,10}
set39 = set37 | set38
print(set39)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}